<%- include('./includes/head.ejs') %>
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <%if(error){%>
                            <div class="col-sm-6 col-md-6 col-lg-3 mt-3">
                                
                                    
                                        <div class="alert alert-danger" role="alert"><%=error%></div>
                                   
                                
                        <%}%>
                        <div class="col-sm-6 col-md-6 col-lg-3 mt-3">
                            <div class="card">
                                <div class="content">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="icon-big text-center">
                                                <i class="teal fas fa-shopping-cart"></i>
                                            </div>
                                        </div>
                                        <div class="col-sm-8">
                                            <div class="detail text-center">
                                                <p>اجمالي المعروضات</p>
                                                <p> مزاد <span class="number"><%=totalProducts%></span> /  طلب <span class="number"><%=totalAsk%></span></p> 
                                                
                                            </div>
                                        </div>
                                    </div>
                                    <div class="footer">
                                        <hr />
                                        <div class="stats">
                                            تجدد كل يوم
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-3 mt-3">
                            <div class="card">
                                <div class="content">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="icon-big text-center">
                                                <i class="olive fas fa-money-bill-alt"></i>
                                            </div>
                                        </div>
                                        <div class="col-sm-8">
                                            <div class="detail text-center">
                                                <p>الربح</p>
                                                <span class="number"><%=revenue%></span>
                                                
                                            </div>
                                        </div>
                                    </div>
                                    <div class="footer">
                                        <hr />
                                        <div class="stats">
                                            <i class="fas fa-calendar"></i>  في هدا الشهر
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-3 mt-3">
                            <div class="card">
                                <div class="content">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="icon-big text-center">
                                                <i class="violet fas fa-eye"></i>
                                            </div>
                                        </div>
                                        <div class="col-sm-8">
                                            <div class="detail text-center">
                                                <p>منتجات يجب الموافقه عليها</p>
                                                <span class="number"><%=approve%></span>
                                                
                                            </div>
                                        </div>
                                    </div>
                                    <div class="footer">
                                        <hr />
                                        <div class="stats">
                                            <a href="/admin/approve">  اضغط للمزيد</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-3 mt-3">
                            <div class="card">
                                <div class="content">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="icon-big text-center">
                                                <i class="orange fas fa-envelope"></i>
                                            </div>
                                        </div>
                                        <div class="col-sm-8">
                                            <div class="detail text-center">
                                                <p>اسئله الدعم</p>
                                                <span class="number"><%=supportMessages%></span>
                                         
                                            </div>
                                        </div>
                                    </div>
                                    <div class="footer">
                                        <hr />
                                        <div class="stats">
                                            <a href="/admin/support">  اضغط للمزيد</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br><br>
                    <br><br>
                    <br><br>
                    <div class="d-flex justify-content-center">
                        <%if(run==false){%>
                            <div>
                                <form action="/admin/start" method="POST">
                                    <input type="hidden" name="_csrf" value="<%=csrfToken%>">
                               
                                    <button type="submit" class="btn btn-primary btn-lg"> <i class="fas fa-gavel"></i> بدء المزاد</button>
                                </form><br>
                                <button class="btn btn-success btn-lg" onclick="notfiButton(this)"><i class="fas fa-bell"></i> ارسال اشعار </button>

                            </div>
                        <%}else{%>
                            <div>
                                <form action="/admin/end" method="POST">
                                    <input type="hidden" name="_csrf" value="<%=csrfToken%>">
                                    <button type="submit" class="btn btn-danger btn-lg"> <i class="fas fa-gavel"></i> انهاء المزاد</button>
                                </form><br>
                                <button class="btn btn-success btn-lg" onclick="notfiButton(this)"><i class="fas fa-bell"></i> ارسال اشعار </button>

                            </div>
                        <%}%>
                        
                    </div>
                    <br>
                    <br>
                    <br>
                    <br>

                    <div class="d-flex justify-content-center ">
                        <form action="/admin/notfication" method="POST" class="hide" id="notfication">
                            <input type="text" name="title" placeholder="العنوان" required>
                            <input type="text" name="body" placeholder="المحتوي" required>
                            <input type="hidden" name="_csrf" value="<%=csrfToken%>">
                            <button type="submit" class="btn btn-secondary ">ارسال</button>
                        </form>
                    </div>

                    
            </div>
            
        </div>
    </div>

    <%- include('./includes/end.ejs') %>
