<%- include('./includes/head.ejs') %>


            
<div class="content">
    <div class="container-fluid">
        <div class="page-title">
            <h3></h3>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">Product</div>
                    <div class="card-body"> 
                            
                            <div class="form-group">
                                <h3>الوصف:</h3>
                                <h5><%=product.desc%></h5>
                            </div><br>
                            <div class="form-group">  
                                <h3>الصحه:</h3>
                                <h5><%=product.helth%></h5>
                            </div><br>
                            <div class="form-group">  
                                <h3>الكميه:</h3>
                                <h5><%=product.amount%></h5>
                            </div><br>
                            <div class="form-group">  
                                <h3>اللون:</h3>
                                <h5><%=product.color%></h5>
                            </div><br>
                            <div class="form-group">  
                                <h3>العمر:</h3>
                                <h5><%=product.age%></h5>
                            </div><br>
                            <div class="form-group">  
                                <h3>النوع:</h3>
                                <h5><%=product.catigory.name%></h5>
                            </div><br><div class="form-group">  
                                <h3>العنوان:</h3>
                                <h5><%=product.adress%></h5>
                            </div><br>
                        <br><div class="form-group">  
                            <h3>المدينه:</h3>
                            <h5><%=product.city%></h5>
                        </div><br>
                            <div class="form-group">  
                                <h3>المستخدم:</h3>
                                <%if(product.user){%>
                                    <h5><%=product.user.name%></h5>
                                <%}else{%>
                                    <h5>user not found</h5>
                                <%}%>
                            </div><br>
                            <div class="form-group">  
                                <h3>الانتاج:</h3>
                                <h5><%=product.production%></h5>
                            </div><br>
                            <div class="form-group">  
                                <h3>الحجم:</h3>
                                <h5><%=product.size%></h5>
                            </div><br>
                            <div class="form-group">  
                                <h3>الجنس:</h3>
                                <h5><%=product.sex%></h5>
                            </div><br>
                            <div class="form-group">  
                                <h3>انتهى:</h3>
                                <%if(product.ended==true){%>
                                    <h5>نعم</h5>
                                <%}else{%>
                                    <h5>لا</h5>
                                <%}%>
                            </div><br>
                            
                            <%if(product.approve!='binding'){%>
                                <div class="form-group">  
                                    <h3>المعروضات:<%=product.Bids.length%></h3>
                                    <%product.Bids.forEach(o=>{%>
                                        <%o.imageUrl.forEach(i=>{%>
                                            <img src="/<%=i%>">
                                        <%})%>
                                        <video width="320" height="240" autoplay>
                                            <source src="/<%=o.vidUrl%>" type="video/mp4">
                                        </video>
                                        <div class="form-group">  
                                            <h3>الوصف:</h3>
                                            <h5><%=o.desc%></h5>
                                        </div><br>
                                        <div class="form-group">  
                                            <h3>الصحه:</h3>
                                            <h5><%=o.helth%></h5>
                                        </div><br>
                                        <div class="form-group">  
                                            <h3>الكميه:</h3>
                                            <h5><%=o.amount%></h5>
                                        </div><br>
                                        <div class="form-group">  
                                            <h3>السعر:</h3>
                                            <h5><%=o.price%></h5>
                                        </div><br>
                                        <div class="form-group">  
                                            <h3>اللون:</h3>
                                            <h5><%=o.color%></h5>
                                        </div><br>
                                        <div class="form-group">  
                                            <h3>العمر:</h3>
                                            <h5><%=o.age%></h5>
                                        </div><br>
                                        
                                       
                                        <div class="form-group">  
                                            <h3>المدينه:</h3>
                                            <h5><%=o.city%></h5>
                                        </div><br>
                                        <div class="form-group">  
                                            <h3>العنوان:</h3>
                                            <h5><%=o.adress%></h5>
                                        </div><br><hr width="100%">
                                    <%})%>
                                </div><br> 
                            <%}%>     
                            
                                <%if(product.approve==='binding'){%>
                                    <form accept-charset="utf-8" action="/admin/approve/2" method="POST">
                                    <div class="form-group" >       
                                        <input type="hidden" name="_csrf" value="<%=csrfToken%>">
                                        <button type="submit" class="btn btn-primary">approve</button> 
                                        <input type="hidden" name="id" value="<%=product._id%>">
                                        
                                    </div>
                                    </form>
                                    <form accept-charset="utf-8" action="/admin/disapprove/2" method="POST">
                                    <div class="form-group">       
                                        <input type="hidden" name="_csrf" value="<%=csrfToken%>">
                                        <button type="submit" class="btn btn-danger">disapprove</button> 
                                        <input type="hidden" name="id" value="<%=product._id%>">
                                    </div>
                                </form>
                                <%}%>   
                                <%if(product.approve!='binding'&&product.pay==false){%>
                                    <form accept-charset="utf-8" action="/admin/delete/2" method="POST">
                                    <div class="form-group">       
                                        <input type="hidden" name="_csrf" value="<%=csrfToken%>">
                                        <button type="submit" class="btn btn-danger">حذف</button> 
                                        <input type="hidden" name="id" value="<%=product._id%>">
                                    </div>
                                </form>
                                <%}%>  
                    </div>
                </div>
            </div>
        </div>
    </div>
                       
    <%- include('./includes/end.ejs') %>
